In [27]:
#libraries
import numpy as np
import pandas as pd
import pickle
from functools import reduce

In [14]:
#Load Data
volumes = pd.read_csv('../temporary/volumes.csv')
industry = pd.read_csv('../input/industry_scores.csv')
sentiment = pd.read_csv('../input/sentiment_scores_march23.csv')

#volume metadata
metadata = pickle.load(open('../input/metadata.p', 'rb'))

metadata['Year'] = pd.to_numeric(metadata['Year'], downcast='signed')

def fix_htid(row):
    return row['HTID'].replace(":","+").replace("/", "=")

metadata['HTID'] = metadata.apply(fix_htid, axis=1)
metadata.drop(columns=['oclc'], inplace=True)

In [15]:
#clean data
industry = industry.rename(columns={'Unnamed: 0': 'HTID', '2-vote':'industry_2','3-vote':'industry_3'})
industry['HTID'] = industry['HTID'].map(lambda x: x.rstrip('.txt'))#remove '.txt' at the end of each string for HTIDs

#Clean Sentiment Data

sentiment = sentiment.rename(columns = {'Unnamed: 0': 'HTID', 'Regression': 'percent_regression', 'Pessimism': 'percent_pessimism', 'Optimism':'percent_optimistic', 'Progress': 'percent_progress'})

sentiment['HTID'] = sentiment['HTID'].map(lambda x: x.rstrip('.txt')) #remove '.txt' at the end of each string for HTIDs

In [16]:
#Dimensions
print('volumes:' + str(volumes.shape))
print('industry:' + str(industry.shape))
print('sentiment:' + str(industry.shape))

volumes:(166780, 4)
industry:(173067, 3)
sentiment:(173067, 3)

In [24]:
sentiment_scores = pd.merge(sentiment, industry, on = 'HTID')
sentiment_scores_metadata = pd.merge(sentiment_scores, metadata, on = 'HTID')
topic_scores_metadata = pd.merge(volumes, metadata, on = 'HTID')

In [25]:
print('sentiment_scores:' + str(sentiment_scores.shape))
print('sentiment_scores_metadata:' + str(sentiment_scores_metadata.shape))
print('topic_scores_metadata:' + str(topic_scores_metadata.shape))

sentiment_scores:(173137, 7)
sentiment_scores_metadata:(168931, 8)
topic_scores_metadata:(166782, 5)

In [39]:
dfs = [sentiment_scores, volumes, metadata]

# final_merge = pd.merge(sentiment_scores_metadata, volumes, on = 'HTID')
final_merge = reduce(lambda left, right: pd.merge(left, right, on = 'HTID', how = 'inner'), dfs)
outer = pd.merge(sentiment_scores, volumes, on = 'HTID', how = 'outer', indicator=True)
anti = outer[~(outer._merge == 'both')]
anti = pd.merge(anti, metadata, on = 'HTID')

In [40]:
anti

,HTID,percent_regression,percent_pessimism,percent_optimistic,percent_progress,industry_2,industry_3,Religion,Science,Political Economy,_merge,Year
0,nyp.33433081689832,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,left_only,1810.0
1,hvd.hn5cyr,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,left_only,1848.0
2,uc1.$b283481,0.000000,0.000000,0.000000,0.000000,0.013649,0.013649,NaN,NaN,NaN,left_only,1885.0
3,hvd.32044106334329,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,left_only,1794.0
4,uc1.$b13904,0.000253,0.000253,0.000253,0.000253,0.046071,0.050448,NaN,NaN,NaN,left_only,1838.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10206,uiuo.ark+=13960=t3dz0fk4x,NaN,NaN,NaN,NaN,NaN,NaN,0.380205,0.123039,0.496756,right_only,1875.0
10207,uc2.ark+=13960=t4zg6w79x,NaN,NaN,NaN,NaN,NaN,NaN,0.342954,0.111881,0.545165,right_only,1894.0
10208,uc2.ark+=13960=t1sf2nv5x,NaN,NaN,NaN,NaN,NaN,NaN,0.428217,0.051069,0.520715,right_only,1848.0
10209,uiuo.ark+=13960=t3kw5p40t,NaN,NaN,NaN,NaN,NaN,NaN,0.323473,0.052603,0.623924,right_only,1835.0
10210,uiuo.ark+=13960=t9x069f9t,NaN,NaN,NaN,NaN,NaN,NaN,0.534886,0.061259,0.403854,right_only,1842.0

In [41]:
map = {'left_only':'sentiment_data', 'right_only':'topic_weights'}
anti['dataset'] = anti['_merge'].map(map)
anti

,HTID,percent_regression,percent_pessimism,percent_optimistic,percent_progress,industry_2,industry_3,Religion,Science,Political Economy,_merge,Year,dataset
0,nyp.33433081689832,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,left_only,1810.0,sentiment_data
1,hvd.hn5cyr,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,left_only,1848.0,sentiment_data
2,uc1.$b283481,0.000000,0.000000,0.000000,0.000000,0.013649,0.013649,NaN,NaN,NaN,left_only,1885.0,sentiment_data
3,hvd.32044106334329,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,left_only,1794.0,sentiment_data
4,uc1.$b13904,0.000253,0.000253,0.000253,0.000253,0.046071,0.050448,NaN,NaN,NaN,left_only,1838.0,sentiment_data
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10206,uiuo.ark+=13960=t3dz0fk4x,NaN,NaN,NaN,NaN,NaN,NaN,0.380205,0.123039,0.496756,right_only,1875.0,topic_weights
10207,uc2.ark+=13960=t4zg6w79x,NaN,NaN,NaN,NaN,NaN,NaN,0.342954,0.111881,0.545165,right_only,1894.0,topic_weights
10208,uc2.ark+=13960=t1sf2nv5x,NaN,NaN,NaN,NaN,NaN,NaN,0.428217,0.051069,0.520715,right_only,1848.0,topic_weights
10209,uiuo.ark+=13960=t3kw5p40t,NaN,NaN,NaN,NaN,NaN,NaN,0.323473,0.052603,0.623924,right_only,1835.0,topic_weights
10210,uiuo.ark+=13960=t9x069f9t,NaN,NaN,NaN,NaN,NaN,NaN,0.534886,0.061259,0.403854,right_only,1842.0,topic_weights

In [42]:
anti_volumes = anti[['HTID', 'Year', 'dataset']]

In [46]:
anti_volumes.to_csv('../temporary/anti_joined.csv')
anti_volumes

                            HTID    Year         dataset
0             nyp.33433081689832  1810.0  sentiment_data
1                     hvd.hn5cyr  1848.0  sentiment_data
2                   uc1.$b283481  1885.0  sentiment_data
3             hvd.32044106334329  1794.0  sentiment_data
4                    uc1.$b13904  1838.0  sentiment_data
...                          ...     ...             ...
10206  uiuo.ark+=13960=t3dz0fk4x  1875.0   topic_weights
10207   uc2.ark+=13960=t4zg6w79x  1894.0   topic_weights
10208   uc2.ark+=13960=t1sf2nv5x  1848.0   topic_weights
10209  uiuo.ark+=13960=t3kw5p40t  1835.0   topic_weights
10210  uiuo.ark+=13960=t9x069f9t  1842.0   topic_weights

[10211 rows x 3 columns]

In [23]:
anti['_merge'].value_counts()

left_only     6181
right_only    4030
both             0
Name: _merge, dtype: int64

In [32]:
anti_industry = pd.merge(anti, industry, on = 'HTID')

In [33]:
anti_industry

,HTID,percent_regression,percent_pessimism,percent_optimistic,percent_progress,industry_2_x,industry_3_x,Year,Religion,Science,Political Economy,industry_2_y,industry_3_y
0,nyp.33433081689832,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1810.0,NaN,NaN,NaN,0.000000,0.000000
1,hvd.hn5cyr,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1848.0,NaN,NaN,NaN,0.000000,0.000000
2,uc1.$b283481,0.000000,0.000000,0.000000,0.000000,0.013649,0.013649,1885.0,NaN,NaN,NaN,0.013649,0.013649
3,hvd.32044106334329,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1794.0,NaN,NaN,NaN,0.000000,0.000000
4,uc1.$b13904,0.000253,0.000253,0.000253,0.000253,0.046071,0.050448,1838.0,NaN,NaN,NaN,0.046071,0.050448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6176,osu.32437121702837,0.000000,0.000000,0.000000,0.000000,0.006479,0.006479,1561.0,NaN,NaN,NaN,0.006479,0.006479
6177,njp.32101067651271,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1800.0,NaN,NaN,NaN,0.000000,0.000000
6178,nnc1.cu55143032,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1755.0,NaN,NaN,NaN,0.000000,0.000000
6179,inu.30000008742250,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1730.0,NaN,NaN,NaN,0.000000,0.000000
6180,hvd.hn61vg,0.000006,0.000006,0.000006,0.000006,0.026718,0.027297,1836.0,NaN,NaN,NaN,0.026718,0.027297

In [29]:
final_merge

,HTID,percent_regression,percent_pessimism,percent_optimistic,percent_progress,industry_2,industry_3,Religion,Science,Political Economy,Year
0,hvd.32044025716390,0.003229,0.003229,0.003229,0.003229,0.205761,0.235340,0.470864,0.065063,0.464074,1886.0
1,uc2.ark+=13960=t7sn0cd5r,0.001073,0.001073,0.001073,0.001073,0.056452,0.057502,0.413910,0.041589,0.544500,1828.0
2,uiuo.ark+=13960=t83j42z5r,0.000668,0.000668,0.000668,0.000668,0.087561,0.088896,0.289778,0.074732,0.635490,1892.0
3,chi.65460297,0.002482,0.002482,0.002482,0.002482,1.745223,1.938208,0.141372,0.155263,0.703366,1835.0
4,uc1.c034714672,0.000293,0.000293,0.000293,0.000293,0.173269,0.252494,0.236004,0.278340,0.485655,1874.0
...,...,...,...,...,...,...,...,...,...,...,...
162747,mdp.39015063997871,0.000000,0.000000,0.000000,0.000000,0.521087,0.540769,0.142778,0.324604,0.532619,1883.0
162748,nnc1.1002316935,0.001876,0.001876,0.001876,0.001876,0.062852,0.062852,0.353575,0.086502,0.559923,1890.0
162749,mdp.39015033940241,0.000534,0.000534,0.000534,0.000534,0.142026,0.145587,0.380669,0.156957,0.462374,1850.0
162750,hvd.32044023949654,0.000000,0.000000,0.000000,0.000000,0.178859,0.178859,0.357519,0.089237,0.553245,1890.0
162751,iau.31858027466535,0.003027,0.003027,0.003027,0.003027,0.082837,0.088713,0.353893,0.090484,0.555623,1895.0

In [16]:
#import packages
print('Loading Packages')
import os
import pandas as pd
import itertools
from iteration_utilities import unique_everseen
from math import comb

#Load Data
print('Loading Data')
volume_weights = pd.read_csv("../temporary/topic_weights.csv")
cross = pd.read_csv('../temporary/cross_topics.csv')
topics = pd.read_csv('../input/20191007_keys.txt', sep = '\t', lineterminator='\n', header=None)

volume_weights_pre1750 = pd.read_csv('../temporary/topic_weights_pre1750.csv')
cross_pre1750 = pd.read_csv('../temporary/cross_topics_pre1750.csv')
topics_pre1750 = pd.read_csv('../input/20230623_keys.txt', sep = '\t', lineterminator='\n', header=None)

#fix topic numbers
topics.drop(columns=0, inplace=True)
topics_pre1750.drop(columns=0, inplace=True)

topics['topic_number'] = list(range(1,len(topics)+1))
topics_pre1750['topic_number'] = list(range(1, len(topics_pre1750) +1))

print(topics)
print(topics_pre1750)

group = [5,9,22,26,35,46,50,55,60] #innocuous topics to be eliminated

#functions
def cross_share(data):
    df = data.copy() #Won't modify original object

    if 'HTID' in df.columns:
        df.drop(columns = ['HTID'], inplace=True)
    
    share = df.sum(axis = 0) / sum(df.sum(axis=0)) #numerator: sum down across rows, denominator: sum the sum of rows to get total of all cross-topics
    return share

def get_shares(shares, top = topics, omit = None, length = 3):
    #'topics' is a list or dataframe of topics, where each row corresponds to a topic
    #'omit' is a list of topics to omit, should be a list of numbers
    #'length' is the size of the categories (i.e. how many topics should make up a category), default 3

    n = len(top) #get number of topics
    topic_numbers = list(top['topic_number']) # generate topic numbers
    topic_dict = pd.Series(top[2].values, index = top.topic_number).to_dict() #mapping of topic numbers and words

    if omit is not None:
        topic_numbers = [i for i in topic_numbers if i not in omit] #remove innocuous topics
    
    topic_numbers.sort() #itertools.combinations needs sorted list
    combos = list(itertools.combinations(topic_numbers, r = length)) #create combinations of desired length

    combo_sets = [set(i) for i in combos] #get set of topic numbers for each row, i is each combo, contained in a tuple

    cross_combos = [list(itertools.combinations(i,2)) for i in combos]#gets every combination of elements in row from combos, i.e. for (1,2,3) gets (1,2),(1,3),(2,3)
    cross_combos = [['x'.join(map(str, i)) for i in c] for c in cross_combos] #joins each topic pair with 'x' to reference 'shares'
    cross_shares = [[shares[str(i)] for i in c] for c in cross_combos] #get share for each element
    cross_sum = [sum(i) for i in cross_shares] #sum each row
    topic_words = [[topic_dict[i] for i in t] for t in combos]

    #column names
    topic_names = ['topic' + str(i) for i in range(1, length+1)]
    cross_names = ['combination' + str(i) for i in range(1, comb(length, 2)+1)] #'math.comb' gives the number of combinations, not the combinations themselves
    share_names = ['share' + str(i) for i in range(1, comb(length, 2)+1)]
    topic_words_names = ['words' + str(i) for i in range(1, length+1)]

    #convert to dataframes since each are lists of tuples, easier to join
    combos = pd.DataFrame(combos, columns=topic_names)
    combo_sets = pd.DataFrame(pd.Series(combo_sets), columns=['Sets'])
    cross_combos = pd.DataFrame(cross_combos, columns=cross_names)
    cross_shares = pd.DataFrame(cross_shares, columns=share_names)
    cross_sum = pd.DataFrame(cross_sum, columns=['Sum'])
    topic_words = pd.DataFrame(topic_words, columns=topic_words_names)


    tmp = pd.concat([combos, combo_sets, cross_combos, cross_shares, cross_sum, topic_words], axis = 1)
    df = pd.DataFrame(tmp)
    # df = pd.DataFrame(tmp, columns=[topic_names, cross_names, share_names, 'Sum'])

    return df

def distinct_categories(data):
    #algorithm to get distinct categories
    #takes the output of 'get_shares' function and finds unique categories
    #'Sets' in 'data' is a column with the set of topics in each row

    data.sort_values('Sum', ascending = False, inplace = True) #Make sure values are sorted

    seen = set([]) #create empty set
    unique = [] #list for appending unique rows

    for ind, row in data.iterrows():
        if bool(row['Sets'] & seen): #checks if any elements in 'Set' are in 'seen', if so, move to next row
            pass
        else:
            unique.append(row) #if the set is unique, grab row
            seen.update(row['Sets']) #add set of topics to 'seen'

    df = pd.DataFrame(unique)

    return(df)

print('Calculating shares')
shares_all = cross_share(cross)
shares_pre1750 = cross_share(cross_pre1750)

print('Getting categories')
clusters = get_shares(shares = shares_all, top = topics, omit = group, length = 3)
clusters_pre1750 = get_shares(shares = shares_pre1750, top = topics_pre1750, length = 3)

print('Finding distinct categories')
clusters_corpus = distinct_categories(clusters)
clusters_corpus_pre1750 = distinct_categories(clusters_pre1750)
print(clusters_corpus)
print(clusters_corpus_pre1750)

print('Exporting Topics')
topics.to_csv('../temporary/topics.csv', index=False)
topics_pre1750.to_csv('../temporary/topics_pre1750.csv', index=False)

Loading Packages
Loading Data
          1                                                  2  topic_number
0   0.14322  paint pictur artist music engrav painter colou...             1
1   0.25957  town road church build built river stone wall ...             2
2   0.12400  franc pari french loui madam duke count napole...             3
3   0.19923  church christian christ bishop holi paul doctr...             4
4   0.36643  love heart beauti soul sweet dark night earth ...             5
5   0.05915  india chines china nativ indian bengal govern ...             6
6   0.15907  fig water iron engin pressur steam electr air ...             7
7   0.07679  acid solut heat carbon water sulphur iron gas ...             8
8   0.49381  exist refer period similar consist occur conne...             9
9   0.07330  vol lond fol folio calf copi pari par morocco ...            10
10  0.12983  thou thi hath sir doth duke ladi pray exit sce...            11
11  0.28791  god christ lord thi faith holi sin heaven jesu...            12
12  0.08148  diseas blood patient treatment medic pain feve...            13
13  0.11032  tho adj tlie lat tbe hut arc lit sax tin tliat...            14
14  0.02422  ofth sor diﬀer juft suﬃcient suﬀer hath thousa...            15
15  0.08691  scotland quot edinburgh scottish highland burn...            16
16  0.12492  note latin verb greek languag comp text plural...            17
17  0.07403  quod cum est sed quam qui aut hoc vel ess atqu...            18
18  0.13323  parish esq counti street ditto rev park lane m...            19
19  0.13829  thoma john william richard robert mari henri e...            20
20  0.13983  henri bishop edward earl reign william archbis...            21
21  0.26514  poet poetri play poem genius johnson literari ...            22
22  0.10263  roman greek rome athen caesar greec senat cice...            23
23  0.12177  court defend plaintiff estat properti bill con...            24
24  0.13648  esq jan oct dec nov feb juli aug june hon sept...            25
25  0.30699  morn river arriv distanc travel kill wild reac...            26
26  0.22522  earl duke queen parliament majesti sir lord ch...            27
27  0.05682  fig surfac develop genus structur upper geolog...            28
28  0.12150  thou thi israel hath ver david jew jerusalem m...            29
29  0.12448  fish black white bird colour tail brown anim t...            30
30  0.15953  armi enemi command march french attack captain...            31
31  0.03561  quod cum vel regi anno est qui rex domini apud...            32
32  0.36976  law lord show public evid opinion fact suppos ...            33
33  0.25199  govern nation polit parliament constitut war p...            34
34  0.24897  miss ladi mother look room father woman ask de...            35
35  0.18704  compani court offic appoint counti act board c...            36
36  0.14661  indian river island coloni south america ameri...            37
37  0.35769  excit punish display indulg circumst alarm dig...            38
38  0.18215  railway messr committe street liverpool manufa...            39
39  0.31908  king citi war princ armi england command court...            40
40  0.11242  line angl equal equat sin sun plane distanc ci...            41
41  0.08776  arab egypt greek egyptian persian sultan turk ...            42
42  0.26328  edit cloth crown illustr vol svo rev price pos...            43
43  0.07149  plant flower stem genus yellow calyx bot fruit...            44
44  0.17564  boil wine water salt sugar butter mix dri poun...            45
45  0.30078  moral human exist scienc idea principl develop...            46
46  0.22959  trade amount labour money price cent increas b...            47
47  0.01970  linn genus nat margin lin hab var folii fig sy...            48
48  0.07446  par qui est che pour sur nous tout vous une fa...            49
49  0.24643  thi thou heaven sweet hath thine joy thee song...            50
50  0.19850  plant soil garden hors dri cultiv winter tree ...            51
51  0.20395  hath fame religion men shew virtu likewis doth...            52
52  0.26033  school colleg societi educ church rev instruct...            53
53  0.03910  fame fee fever cafe fet ufe feem obferv defir ...            54
54  0.41589  letter dear ladi friend father wife repli happ...            55
55  0.05112  hym doe hath bee sayd doth own wee kyng hem ty...            56
56  0.02773  kal kai tov yap rov occ masc xai fut sing mid ...            57
57  0.19059  ship island sea captain vessel coast sail shor...            58
58  0.14723  emperor itali spain german germani franc duke ...            59
59  0.25501  cri ladi repli gentleman door boy captain laug...            60
          1                                                  2  topic_number
0   0.07510  ifland fever indian fame fort coaft tho empero...             1
1   0.21745  juft diﬀer sor suﬀer shew suﬃcient men hath oﬀ...             2
2   0.11456  paint fame figur piec wall roman stone rome ma...             3
3   0.09618  writ heir defend statut court hath tenant debt...             4
4   0.21621  christ sin hath holi thi gospel thou doth glor...             5
5   0.04072  ditto esq juli counti aug hon sept jan nov rob...             6
6   0.03135  root flower yellow seed juic stalk herb color ...             7
7   0.08934  thou thi israel chap david hath thine behold v...             8
8   0.41956  god faith thi soul heaven love sin holi thou s...             9
9   0.07537  esq thoma william tho ireland june juli petit ...            10
10  0.05676  horf colour salt mercuri metal medicin ufe fam...            11
11  0.01655  qui une eft fait tout bien fort vous verb fur ...            12
12  0.20581  river sea ship town citi north south men islan...            13
13  0.04785  efq dean hund propr chapel buri prox patr thom...            14
14  0.26290  law govern parliament nation princ kingdom civ...            15
15  0.34784  men fame religion fee christian shew design ha...            16
16  0.11036  lib ibid poet greek fame fay cap cicero philos...            17
17  0.03737  vous qui par nous pour tout quil bien comm fai...            18
18  0.11645  aforesaid justic counti statut fame cap commit...            19
19  0.12000  cum quod qui eft quam est vel aut hoc qua enim...            20
20  0.18627  print vol price colleg john edit esq thoma wil...            21
21  0.16267  plant dri tree boil grow salt root pound water...            22
22  0.05435  pope provinc emperor itali duke senat emperour...            23
23  0.06384  thou thi doth doe hath fee knight felf own aga...            24
24  0.16642  majesti parliament earl armi hath duke princ k...            25
25  0.25386  hath doth fee one fame arc hall thi thou yea d...            26
26  0.31787  virtu men honour imagin happi oblig fortun adm...            27
27  0.05738  fame hath lib vid men cafe punish publick doth...            28
28  0.13254  pope bishop council rome canon clergi emperor ...            29
29  0.43772  law thing plain truth person author sens evid ...            30
30  0.16355  trade money pay paid ship cent duti pound sum ...            31
31  0.16028  duke franc princ french majesti armi spain tre...            32
32  0.02981  hath tyme sayd ben thei hym kyng sonn whan wol...            33
33  0.03655  fox bee hie ofth und tot www ano che aud uch o...            34
34  0.03151  ofth акр tbe thc pur или lll the шиш prov атм ...            35
35  0.09282  majesti council governor trade letter ship boa...            36
36  0.00835  che snv snd koz rke πιο thst tke anv απο rhe ο...            37
37  0.05193  quod cum anno regi vel writ apud domini rex ca...            38
38  0.24921  thi thou love soul heavn tho joy vain fate swe...            39
39  0.05449  bee wee doe own eueri doth euen one ofth again...            40
40  0.16569  armi roman enemi citi princ rome war empir emp...            41
41  0.02707  fox cafe tenant pur ceo fee rent statut del ta...            42
42  0.13852  hath saith one doe ofth bee thou own himself s...            43
43  0.26887  church god faith christ christian religion scr...            44
44  0.01131  ind quod idem apud anno pred und hic regi fuit...            45
45  0.11491  water air blood motion fame heat quantiti salt...            46
46  0.15298  religion divin men apoftl chriftian christ scr...            47
47  0.02137  che cum par con gli del por fol della rom lat ...            48
48  0.08636  tlie arc tor tbt ihe lor tlic alio ind ail tho...            49
49  0.18062  ver jew mose hebrew vers christ prophet apostl...            50
50  0.07459  earl daughter knight edward marri henri counti...            51
51  0.21834  fame fee fever fet cafe defir juft ufe feem ob...            52
52  0.18724  god divin soul motion fame infinit moral idea ...            53
53  0.37366  king lord england court sir honour crown peac ...            54
54  0.09814  line angl equal divid fame squar multipli sum ...            55
55  0.04330  tbe ano anb tbat tlje tbc toe anp tbep map tlj...            56
56  0.25066  sir ladi love woman madam thou dear husband pr...            57
57  0.11890  duke earl henri edward pope scotland queen bis...            58
58  0.09268  bill committe parliament majesti earl prison p...            59
59  0.07456  sun earth moon motion angl latitud star circl ...            60
Calculating shares
Getting categories
Finding distinct categories
       topic1  topic2  topic3          Sets combination1 combination2  \
19064      33      34      47  {33, 34, 47}        33x34        33x47
3783        4      12      52   {4, 12, 52}         4x12         4x52
5673        7       8      41    {8, 41, 7}          7x8         7x41
17379      27      38      40  {40, 27, 38}        27x38        27x40
1806        2      19      20   {2, 19, 20}         2x19         2x20
16569      24      36      53  {24, 36, 53}        24x36        24x53
13058      17      18      23  {17, 18, 23}        17x18        17x23
18628      31      37      58  {58, 37, 31}        31x37        31x58
17590      28      30      48  {48, 28, 30}        28x30        28x48
308         1      10      43   {1, 10, 43}         1x10         1x43
20542      44      45      51  {51, 44, 45}        44x45        44x51
9335       11      54      56  {56, 11, 54}        11x54        11x56
5305        6      29      42   {42, 29, 6}         6x29         6x42
3500        3      49      59   {49, 3, 59}         3x49         3x59
15435      21      25      32  {32, 25, 21}        21x25        21x32
10980      14      15      57  {57, 14, 15}        14x15        14x57
10261      13      16      39  {16, 13, 39}        13x16        13x39

      combination3    share1    share2    share3       Sum  \
19064        34x47  0.006974  0.007020  0.003606  0.017601
3783         12x52  0.006142  0.001930  0.004522  0.012594
5673          8x41  0.002912  0.004529  0.000781  0.008223
17379        38x40  0.001390  0.002788  0.002428  0.006606
1806         19x20  0.002055  0.001567  0.001596  0.005218
16569        36x53  0.003252  0.000223  0.001288  0.004763
13058        18x23  0.001515  0.000647  0.001935  0.004096
18628        37x58  0.000805  0.001167  0.001239  0.003210
17590        30x48  0.001277  0.000839  0.000890  0.003007
308          10x43  0.000583  0.001057  0.001195  0.002835
20542        45x51  0.000254  0.001287  0.000990  0.002530
9335         54x56  0.000485  0.000942  0.000607  0.002034
5305         29x42  0.000053  0.000443  0.000763  0.001259
3500         49x59  0.000284  0.000596  0.000312  0.001191
15435        25x32  0.000243  0.000723  0.000090  0.001057
10980        15x57  0.000262  0.000354  0.000258  0.000873
10261        16x39  0.000016  0.000299  0.000093  0.000408

                                                  words1  \
19064  law lord show public evid opinion fact suppos ...
3783   church christian christ bishop holi paul doctr...
5673   fig water iron engin pressur steam electr air ...
17379  earl duke queen parliament majesti sir lord ch...
1806   town road church build built river stone wall ...
16569  court defend plaintiff estat properti bill con...
13058  note latin verb greek languag comp text plural...
18628  armi enemi command march french attack captain...
17590  fig surfac develop genus structur upper geolog...
308    paint pictur artist music engrav painter colou...
20542  plant flower stem genus yellow calyx bot fruit...
9335   thou thi hath sir doth duke ladi pray exit sce...
5305   india chines china nativ indian bengal govern ...
3500   franc pari french loui madam duke count napole...
15435  henri bishop edward earl reign william archbis...
10980  tho adj tlie lat tbe hut arc lit sax tin tliat...
10261  diseas blood patient treatment medic pain feve...

                                                  words2  \
19064  govern nation polit parliament constitut war p...
3783   god christ lord thi faith holi sin heaven jesu...
5673   acid solut heat carbon water sulphur iron gas ...
17379  excit punish display indulg circumst alarm dig...
1806   parish esq counti street ditto rev park lane m...
16569  compani court offic appoint counti act board c...
13058  quod cum est sed quam qui aut hoc vel ess atqu...
18628  indian river island coloni south america ameri...
17590  fish black white bird colour tail brown anim t...
308    vol lond fol folio calf copi pari par morocco ...
20542  boil wine water salt sugar butter mix dri poun...
9335   fame fee fever cafe fet ufe feem obferv defir ...
5305   thou thi israel hath ver david jew jerusalem m...
3500   par qui est che pour sur nous tout vous une fa...
15435  esq jan oct dec nov feb juli aug june hon sept...
10980  ofth sor diﬀer juft suﬃcient suﬀer hath thousa...
10261  scotland quot edinburgh scottish highland burn...

                                                  words3
19064  trade amount labour money price cent increas b...
3783   hath fame religion men shew virtu likewis doth...
5673   line angl equal equat sin sun plane distanc ci...
17379  king citi war princ armi england command court...
1806   thoma john william richard robert mari henri e...
16569  school colleg societi educ church rev instruct...
13058  roman greek rome athen caesar greec senat cice...
18628  ship island sea captain vessel coast sail shor...
17590  linn genus nat margin lin hab var folii fig sy...
308    edit cloth crown illustr vol svo rev price pos...
20542  plant soil garden hors dri cultiv winter tree ...
9335   hym doe hath bee sayd doth own wee kyng hem ty...
5305   arab egypt greek egyptian persian sultan turk ...
3500   emperor itali spain german germani franc duke ...
15435  quod cum vel regi anno est qui rex domini apud...
10980  kal kai tov yap rov occ masc xai fut sing mid ...
10261  railway messr committe street liverpool manufa...
       topic1  topic2  topic3          Sets combination1 combination2  \
4390        3      26      52   {26, 3, 52}         3x26         3x52
2511        2      19      28   {2, 19, 28}         2x19         2x28
20668      16      35      53  {16, 35, 53}        16x35        16x53
690         1      15      30   {1, 30, 15}         1x15         1x30
24108      20      38      60  {20, 38, 60}        20x38        20x60
32023      36      41      59  {41, 59, 36}        36x41        36x59
5858        4      24      49   {24, 49, 4}         4x24         4x49
15250      11      27      43  {27, 43, 11}        11x27        11x43
30166      31      32      39  {32, 39, 31}        31x32        31x39
14539      10      47      58  {10, 58, 47}        10x47        10x58
27468      25      40      44  {40, 25, 44}        25x40        25x44
31519      34      46      51  {34, 51, 46}        34x46        34x51
21869      17      56      57  {56, 17, 57}        17x56        17x57
16239      12      23      42  {42, 12, 23}        12x23        12x42
11061       8      14      37   {8, 37, 14}         8x14         8x37
24372      21      22      55  {21, 22, 55}        21x22        21x55
8010        6       7      33    {33, 6, 7}          6x7         6x33
17137      13      18      54  {18, 13, 54}        13x18        13x54
33688      45      48      50  {48, 50, 45}        45x48        45x50
6678        5       9      29    {9, 29, 5}          5x9         5x29

      combination3    share1    share2    share3       Sum  \
4390         26x52  0.019997  0.014956  0.016396  0.051349
2511         19x28  0.004266  0.003418  0.002948  0.010631
20668        35x53  0.001975  0.002075  0.001919  0.005968
690          15x30  0.001083  0.000870  0.001280  0.003234
24108        38x60  0.000711  0.001071  0.001017  0.002799
32023        41x59  0.000679  0.000705  0.000764  0.002148
5858         24x49  0.000683  0.000611  0.000617  0.001910
15250        27x43  0.000470  0.000438  0.000431  0.001339
30166        32x39  0.000369  0.000319  0.000355  0.001043
14539        47x58  0.000301  0.000277  0.000269  0.000847
27468        40x44  0.000216  0.000219  0.000219  0.000654
31519        46x51  0.000220  0.000215  0.000210  0.000646
21869        56x57  0.000180  0.000198  0.000168  0.000546
16239        23x42  0.000116  0.000115  0.000120  0.000351
11061        14x37  0.000101  0.000110  0.000083  0.000294
24372        22x55  0.000071  0.000082  0.000078  0.000231
8010          7x33  0.000053  0.000074  0.000063  0.000190
17137        18x54  0.000031  0.000036  0.000037  0.000104
33688        48x50  0.000022  0.000024  0.000026  0.000072
6678          9x29  0.000009  0.000015  0.000009  0.000034

                                                  words1  \
4390   paint fame figur piec wall roman stone rome ma...
2511   juft diﬀer sor suﬀer shew suﬃcient men hath oﬀ...
20668  men fame religion fee christian shew design ha...
690    ifland fever indian fame fort coaft tho empero...
24108  cum quod qui eft quam est vel aut hoc qua enim...
32023  majesti council governor trade letter ship boa...
5858   writ heir defend statut court hath tenant debt...
15250  horf colour salt mercuri metal medicin ufe fam...
30166  trade money pay paid ship cent duti pound sum ...
14539  esq thoma william tho ireland june juli petit ...
27468  majesti parliament earl armi hath duke princ k...
31519  fox bee hie ofth und tot www ano che aud uch o...
21869  lib ibid poet greek fame fay cap cicero philos...
16239  qui une eft fait tout bien fort vous verb fur ...
11061  thou thi israel chap david hath thine behold v...
24372  print vol price colleg john edit esq thoma wil...
8010   ditto esq juli counti aug hon sept jan nov rob...
17137  river sea ship town citi north south men islan...
33688  ind quod idem apud anno pred und hic regi fuit...
6678   christ sin hath holi thi gospel thou doth glor...

                                                  words2  \
4390   hath doth fee one fame arc hall thi thou yea d...
2511   aforesaid justic counti statut fame cap commit...
20668  ofth акр tbe thc pur или lll the шиш prov атм ...
690    law govern parliament nation princ kingdom civ...
24108  quod cum anno regi vel writ apud domini rex ca...
32023  armi roman enemi citi princ rome war empir emp...
5858   thou thi doth doe hath fee knight felf own aga...
15250  virtu men honour imagin happi oblig fortun adm...
30166  duke franc princ french majesti armi spain tre...
14539  religion divin men apoftl chriftian christ scr...
27468  bee wee doe own eueri doth euen one ofth again...
31519  water air blood motion fame heat quantiti salt...
21869  tbe ano anb tbat tlje tbc toe anp tbep map tlj...
16239  pope provinc emperor itali duke senat emperour...
11061  efq dean hund propr chapel buri prox patr thom...
24372  plant dri tree boil grow salt root pound water...
8010   root flower yellow seed juic stalk herb color ...
17137  vous qui par nous pour tout quil bien comm fai...
33688  che cum par con gli del por fol della rom lat ...

In [17]:
clusters_pre1750

,topic1,topic2,topic3,Sets,combination1,combination2,combination3,share1,share2,share3,Sum,words1,words2,words3
4390,3,26,52,"{26, 3, 52}",3x26,3x52,26x52,0.019997,0.014956,0.016396,0.051349,paint fame figur piec wall roman stone rome ma...,hath doth fee one fame arc hall thi thou yea d...,fame fee fever fet cafe defir juft ufe feem ob...
1733,2,3,26,"{26, 2, 3}",2x3,2x26,3x26,0.008933,0.010333,0.019997,0.039264,juft diﬀer sor suﬀer shew suﬃcient men hath oﬀ...,paint fame figur piec wall roman stone rome ma...,hath doth fee one fame arc hall thi thou yea d...
4105,3,19,26,"{19, 26, 3}",3x19,3x26,19x26,0.007529,0.019997,0.008645,0.036171,paint fame figur piec wall roman stone rome ma...,aforesaid justic counti statut fame cap commit...,hath doth fee one fame arc hall thi thou yea d...
2794,2,26,52,"{2, 26, 52}",2x26,2x52,26x52,0.010333,0.007371,0.016396,0.034100,juft diﬀer sor suﬀer shew suﬃcient men hath oﬀ...,hath doth fee one fame arc hall thi thou yea d...,fame fee fever fet cafe defir juft ufe feem ob...
3979,3,16,26,"{16, 26, 3}",3x16,3x26,16x26,0.006248,0.019997,0.007057,0.033302,paint fame figur piec wall roman stone rome ma...,men fame religion fee christian shew design ha...,hath doth fee one fame arc hall thi thou yea d...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6667,5,9,18,"{9, 18, 5}",5x9,5x18,9x18,0.000009,0.000017,0.000005,0.000031,christ sin hath holi thi gospel thou doth glor...,god faith thi soul heaven love sin holi thou s...,vous qui par nous pour tout quil bien comm fai...
6697,5,9,48,"{48, 9, 5}",5x9,5x48,9x48,0.000009,0.000017,0.000005,0.000031,christ sin hath holi thi gospel thou doth glor...,god faith thi soul heaven love sin holi thou s...,che cum par con gli del por fol della rom lat ...
6694,5,9,45,"{9, 45, 5}",5x9,5x45,9x45,0.000009,0.000016,0.000005,0.000030,christ sin hath holi thi gospel thou doth glor...,god faith thi soul heaven love sin holi thou s...,ind quod idem apud anno pred und hic regi fuit...
12518,9,18,45,"{9, 18, 45}",9x18,9x45,18x45,0.000005,0.000005,0.000018,0.000028,god faith thi soul heaven love sin holi thou s...,vous qui par nous pour tout quil bien comm fai...,ind quod idem apud anno pred und hic regi fuit...
12914,9,29,45,"{9, 45, 29}",9x29,9x45,29x45,0.000009,0.000005,0.000014,0.000027,god faith thi soul heaven love sin holi thou s...,pope bishop council rome canon clergi emperor ...,ind quod idem apud anno pred und hic regi fuit...

In [18]:
topics_pre1750

          1                                                  2  topic_number
0   0.07510  ifland fever indian fame fort coaft tho empero...             1
1   0.21745  juft diﬀer sor suﬀer shew suﬃcient men hath oﬀ...             2
2   0.11456  paint fame figur piec wall roman stone rome ma...             3
3   0.09618  writ heir defend statut court hath tenant debt...             4
4   0.21621  christ sin hath holi thi gospel thou doth glor...             5
5   0.04072  ditto esq juli counti aug hon sept jan nov rob...             6
6   0.03135  root flower yellow seed juic stalk herb color ...             7
7   0.08934  thou thi israel chap david hath thine behold v...             8
8   0.41956  god faith thi soul heaven love sin holi thou s...             9
9   0.07537  esq thoma william tho ireland june juli petit ...            10
10  0.05676  horf colour salt mercuri metal medicin ufe fam...            11
11  0.01655  qui une eft fait tout bien fort vous verb fur ...            12
12  0.20581  river sea ship town citi north south men islan...            13
13  0.04785  efq dean hund propr chapel buri prox patr thom...            14
14  0.26290  law govern parliament nation princ kingdom civ...            15
15  0.34784  men fame religion fee christian shew design ha...            16
16  0.11036  lib ibid poet greek fame fay cap cicero philos...            17
17  0.03737  vous qui par nous pour tout quil bien comm fai...            18
18  0.11645  aforesaid justic counti statut fame cap commit...            19
19  0.12000  cum quod qui eft quam est vel aut hoc qua enim...            20
20  0.18627  print vol price colleg john edit esq thoma wil...            21
21  0.16267  plant dri tree boil grow salt root pound water...            22
22  0.05435  pope provinc emperor itali duke senat emperour...            23
23  0.06384  thou thi doth doe hath fee knight felf own aga...            24
24  0.16642  majesti parliament earl armi hath duke princ k...            25
25  0.25386  hath doth fee one fame arc hall thi thou yea d...            26
26  0.31787  virtu men honour imagin happi oblig fortun adm...            27
27  0.05738  fame hath lib vid men cafe punish publick doth...            28
28  0.13254  pope bishop council rome canon clergi emperor ...            29
29  0.43772  law thing plain truth person author sens evid ...            30
30  0.16355  trade money pay paid ship cent duti pound sum ...            31
31  0.16028  duke franc princ french majesti armi spain tre...            32
32  0.02981  hath tyme sayd ben thei hym kyng sonn whan wol...            33
33  0.03655  fox bee hie ofth und tot www ano che aud uch o...            34
34  0.03151  ofth акр tbe thc pur или lll the шиш prov атм ...            35
35  0.09282  majesti council governor trade letter ship boa...            36
36  0.00835  che snv snd koz rke πιο thst tke anv απο rhe ο...            37
37  0.05193  quod cum anno regi vel writ apud domini rex ca...            38
38  0.24921  thi thou love soul heavn tho joy vain fate swe...            39
39  0.05449  bee wee doe own eueri doth euen one ofth again...            40
40  0.16569  armi roman enemi citi princ rome war empir emp...            41
41  0.02707  fox cafe tenant pur ceo fee rent statut del ta...            42
42  0.13852  hath saith one doe ofth bee thou own himself s...            43
43  0.26887  church god faith christ christian religion scr...            44
44  0.01131  ind quod idem apud anno pred und hic regi fuit...            45
45  0.11491  water air blood motion fame heat quantiti salt...            46
46  0.15298  religion divin men apoftl chriftian christ scr...            47
47  0.02137  che cum par con gli del por fol della rom lat ...            48
48  0.08636  tlie arc tor tbt ihe lor tlic alio ind ail tho...            49
49  0.18062  ver jew mose hebrew vers christ prophet apostl...            50
50  0.07459  earl daughter knight edward marri henri counti...            51
51  0.21834  fame fee fever fet cafe defir juft ufe feem ob...            52
52  0.18724  god divin soul motion fame infinit moral idea ...            53
53  0.37366  king lord england court sir honour crown peac ...            54
54  0.09814  line angl equal divid fame squar multipli sum ...            55
55  0.04330  tbe ano anb tbat tlje tbc toe anp tbep map tlj...            56
56  0.25066  sir ladi love woman madam thou dear husband pr...            57
57  0.11890  duke earl henri edward pope scotland queen bis...            58
58  0.09268  bill committe parliament majesti earl prison p...            59
59  0.07456  sun earth moon motion angl latitud star circl ...            60

In [14]:
def get_shares(shares, top = topics, omit = None, length = 3):
    #'topics' is a list or dataframe of topics, where each row corresponds to a topic
    #'omit' is a list of topics to omit, should be a list of numbers
    #'length' is the size of the categories (i.e. how many topics should make up a category), default 3

    n = len(top) #get number of topics
    topic_numbers = list(top['topic_number']) # generate topic numbers
    topic_dict = pd.Series(top[2].values, index = top.topic_number).to_dict() #mapping of topic numbers and words

    if omit is not None:
        topic_numbers = [i for i in topic_numbers if i not in omit] #remove innocuous topics
    
    topic_numbers.sort() #itertools.combinations needs sorted list
    combos = list(itertools.combinations(topic_numbers, r = length)) #create combinations of desired length

    combo_sets = [set(i) for i in combos] #get set of topic numbers for each row, i is each combo, contained in a tuple

    cross_combos = [list(itertools.combinations(i,2)) for i in combos]#gets every combination of elements in row from combos, i.e. for (1,2,3) gets (1,2),(1,3),(2,3)
    cross_combos = [['x'.join(map(str, i)) for i in c] for c in cross_combos] #joins each topic pair with 'x' to reference 'shares'
    cross_shares = [[shares[str(i)] for i in c] for c in cross_combos] #get share for each element
    cross_sum = [sum(i) for i in cross_shares] #sum each row
    topic_words = [[topic_dict[i] for i in t] for t in combos]

    #column names
    topic_names = ['topic' + str(i) for i in range(1, length+1)]
    cross_names = ['combination' + str(i) for i in range(1, comb(length, 2)+1)] #'math.comb' gives the number of combinations, not the combinations themselves
    share_names = ['share' + str(i) for i in range(1, comb(length, 2)+1)]
    topic_words_names = ['words' + str(i) for i in range(1, length+1)]

    #convert to dataframes since each are lists of tuples, easier to join
    combos = pd.DataFrame(combos, columns=topic_names)
    combo_sets = pd.DataFrame(pd.Series(combo_sets), columns=['Sets'])
    cross_combos = pd.DataFrame(cross_combos, columns=cross_names)
    cross_shares = pd.DataFrame(cross_shares, columns=share_names)
    cross_sum = pd.DataFrame(cross_sum, columns=['Sum'])
    topic_words = pd.DataFrame(topic_words, columns=topic_words_names)


    tmp = pd.concat([combos, combo_sets, cross_combos, cross_shares, cross_sum, topic_words], axis = 1)
    df = pd.DataFrame(tmp)
    # df = pd.DataFrame(tmp, columns=[topic_names, cross_names, share_names, 'Sum'])

    return df

clusters = get_shares(shares = shares_all, top = topics, omit = group, length = 3)
clusters

,topic1,topic2,topic3,Sets,combination1,combination2,combination3,share1,share2,share3,Sum,words1,words2,words3
0,1,2,3,"{1, 2, 3}",1x2,1x3,2x3,0.002057,0.000499,0.000597,0.003153,paint pictur artist music engrav painter colou...,town road church build built river stone wall ...,franc pari french loui madam duke count napole...
1,1,2,4,"{1, 2, 4}",1x2,1x4,2x4,0.002057,0.000506,0.000554,0.003117,paint pictur artist music engrav painter colou...,town road church build built river stone wall ...,church christian christ bishop holi paul doctr...
2,1,2,6,"{1, 2, 6}",1x2,1x6,2x6,0.002057,0.000180,0.000612,0.002849,paint pictur artist music engrav painter colou...,town road church build built river stone wall ...,india chines china nativ indian bengal govern ...
3,1,2,7,"{1, 2, 7}",1x2,1x7,2x7,0.002057,0.000739,0.001280,0.004076,paint pictur artist music engrav painter colou...,town road church build built river stone wall ...,fig water iron engin pressur steam electr air ...
4,1,2,8,"{8, 1, 2}",1x2,1x8,2x8,0.002057,0.000298,0.000172,0.002527,paint pictur artist music engrav painter colou...,town road church build built river stone wall ...,acid solut heat carbon water sulphur iron gas ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20820,54,58,59,"{58, 59, 54}",54x58,54x59,58x59,0.000545,0.000334,0.000238,0.001117,fame fee fever cafe fet ufe feem obferv defir ...,ship island sea captain vessel coast sail shor...,emperor itali spain german germani franc duke ...
20821,56,57,58,"{56, 57, 58}",56x57,56x58,57x58,0.000160,0.000118,0.000051,0.000328,hym doe hath bee sayd doth own wee kyng hem ty...,kal kai tov yap rov occ masc xai fut sing mid ...,ship island sea captain vessel coast sail shor...
20822,56,57,59,"{56, 57, 59}",56x57,56x59,57x59,0.000160,0.000053,0.000025,0.000238,hym doe hath bee sayd doth own wee kyng hem ty...,kal kai tov yap rov occ masc xai fut sing mid ...,emperor itali spain german germani franc duke ...
20823,56,58,59,"{56, 58, 59}",56x58,56x59,58x59,0.000118,0.000053,0.000238,0.000410,hym doe hath bee sayd doth own wee kyng hem ty...,ship island sea captain vessel coast sail shor...,emperor itali spain german germani franc duke ...
20824,57,58,59,"{57, 58, 59}",57x58,57x59,58x59,0.000051,0.000025,0.000238,0.000313,kal kai tov yap rov occ masc xai fut sing mid ...,ship island sea captain vessel coast sail shor...,emperor itali spain german germani franc duke ...

In [15]:
topics

          1                                                  2  topic_number
0   0.14322  paint pictur artist music engrav painter colou...             1
1   0.25957  town road church build built river stone wall ...             2
2   0.12400  franc pari french loui madam duke count napole...             3
3   0.19923  church christian christ bishop holi paul doctr...             4
4   0.36643  love heart beauti soul sweet dark night earth ...             5
5   0.05915  india chines china nativ indian bengal govern ...             6
6   0.15907  fig water iron engin pressur steam electr air ...             7
7   0.07679  acid solut heat carbon water sulphur iron gas ...             8
8   0.49381  exist refer period similar consist occur conne...             9
9   0.07330  vol lond fol folio calf copi pari par morocco ...            10
10  0.12983  thou thi hath sir doth duke ladi pray exit sce...            11
11  0.28791  god christ lord thi faith holi sin heaven jesu...            12
12  0.08148  diseas blood patient treatment medic pain feve...            13
13  0.11032  tho adj tlie lat tbe hut arc lit sax tin tliat...            14
14  0.02422  ofth sor diﬀer juft suﬃcient suﬀer hath thousa...            15
15  0.08691  scotland quot edinburgh scottish highland burn...            16
16  0.12492  note latin verb greek languag comp text plural...            17
17  0.07403  quod cum est sed quam qui aut hoc vel ess atqu...            18
18  0.13323  parish esq counti street ditto rev park lane m...            19
19  0.13829  thoma john william richard robert mari henri e...            20
20  0.13983  henri bishop edward earl reign william archbis...            21
21  0.26514  poet poetri play poem genius johnson literari ...            22
22  0.10263  roman greek rome athen caesar greec senat cice...            23
23  0.12177  court defend plaintiff estat properti bill con...            24
24  0.13648  esq jan oct dec nov feb juli aug june hon sept...            25
25  0.30699  morn river arriv distanc travel kill wild reac...            26
26  0.22522  earl duke queen parliament majesti sir lord ch...            27
27  0.05682  fig surfac develop genus structur upper geolog...            28
28  0.12150  thou thi israel hath ver david jew jerusalem m...            29
29  0.12448  fish black white bird colour tail brown anim t...            30
30  0.15953  armi enemi command march french attack captain...            31
31  0.03561  quod cum vel regi anno est qui rex domini apud...            32
32  0.36976  law lord show public evid opinion fact suppos ...            33
33  0.25199  govern nation polit parliament constitut war p...            34
34  0.24897  miss ladi mother look room father woman ask de...            35
35  0.18704  compani court offic appoint counti act board c...            36
36  0.14661  indian river island coloni south america ameri...            37
37  0.35769  excit punish display indulg circumst alarm dig...            38
38  0.18215  railway messr committe street liverpool manufa...            39
39  0.31908  king citi war princ armi england command court...            40
40  0.11242  line angl equal equat sin sun plane distanc ci...            41
41  0.08776  arab egypt greek egyptian persian sultan turk ...            42
42  0.26328  edit cloth crown illustr vol svo rev price pos...            43
43  0.07149  plant flower stem genus yellow calyx bot fruit...            44
44  0.17564  boil wine water salt sugar butter mix dri poun...            45
45  0.30078  moral human exist scienc idea principl develop...            46
46  0.22959  trade amount labour money price cent increas b...            47
47  0.01970  linn genus nat margin lin hab var folii fig sy...            48
48  0.07446  par qui est che pour sur nous tout vous une fa...            49
49  0.24643  thi thou heaven sweet hath thine joy thee song...            50
50  0.19850  plant soil garden hors dri cultiv winter tree ...            51
51  0.20395  hath fame religion men shew virtu likewis doth...            52
52  0.26033  school colleg societi educ church rev instruct...            53
53  0.03910  fame fee fever cafe fet ufe feem obferv defir ...            54
54  0.41589  letter dear ladi friend father wife repli happ...            55
55  0.05112  hym doe hath bee sayd doth own wee kyng hem ty...            56
56  0.02773  kal kai tov yap rov occ masc xai fut sing mid ...            57
57  0.19059  ship island sea captain vessel coast sail shor...            58
58  0.14723  emperor itali spain german germani franc duke ...            59
59  0.25501  cri ladi repli gentleman door boy captain laug...            60

# Info about Principia

In [1]:
import pandas as pd
import config
import pickle

data = pd.read_csv('../temporary/topic_weights.csv')
topic_shares = pickle.load(open('../temporary/topic_shares.pickle', 'rb'))
title_data = pd.read_csv('../input/volume_titles.csv', encoding='latin-1')
titles = title_data[['HTID', '245a', '245b']].rename(columns={'245a': 'title_1',
                                                              '245b': 'title_2'})

C:\Users\Austin\AppData\Local\Temp\ipykernel_20928\1888190047.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  title_data = pd.read_csv('../input/volume_titles.csv', encoding='latin-1')

In [5]:
htid = 'uc1.31822005223383'
principia = data[data['HTID'] == htid]
principia

,HTID,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
104619,uc1.31822005223383,0.000004,0.000007,0.000003,0.000005,0.00001,0.000002,0.000004,0.000002,0.000013,...,0.000005,0.000006,0.000007,0.000001,0.000011,0.000001,7.506052e-07,0.000005,0.000004,0.000007

In [19]:
principia.iloc[:,1:61].sum(axis=1)

104619    1.0
dtype: float64

In [21]:
t = pd.DataFrame(topic_shares[1689]).drop(columns='Color')

In [22]:
t

    Religion   Science  Political Economy
1   0.706794  0.108114           0.185093
2   0.636976  0.111293           0.251731
3   0.638564  0.012477           0.348958
4   0.749966  0.004732           0.245302
5   0.724762  0.030061           0.245177
6   0.731687  0.058792           0.209521
7   0.312215  0.471006           0.216779
8   0.588845  0.211309           0.199846
9   0.748866  0.049660           0.201473
10  0.814022  0.028545           0.157433
11  0.742530  0.010590           0.246881
12  0.735795  0.009483           0.254722
13  0.561935  0.183795           0.254271
14  0.758151  0.055846           0.186004
15  0.735286  0.018350           0.246364
16  0.623942  0.017762           0.358296
17  0.759204  0.036601           0.204195
18  0.774931  0.097525           0.127543
19  0.541137  0.022047           0.436815
20  0.617155  0.047578           0.335267
21  0.760635  0.017100           0.222266
22  0.737270  0.021020           0.241710
23  0.816652  0.036460           0.146889
24  0.622135  0.006375           0.371490
25  0.577796  0.055208           0.366996
26  0.655151  0.053963           0.290885
27  0.576088  0.006283           0.417629
28  0.627291  0.082170           0.290539
29  0.896208  0.014615           0.089177
30  0.534455  0.112743           0.352802
31  0.637891  0.012398           0.349711
32  0.836634  0.016340           0.147026
33  0.874034  0.015491           0.110475
34  0.512516  0.003782           0.483702
35  0.521720  0.023088           0.455192
36  0.515173  0.009722           0.475105
37  0.512866  0.031552           0.455582
38  0.845363  0.008110           0.146526
39  0.515478  0.044068           0.440454
40  0.602129  0.006373           0.391498
41  0.568013  0.246102           0.185884
42  0.776842  0.041485           0.181672
43  0.606242  0.032263           0.361495
44  0.679800  0.084313           0.235887
45  0.514123  0.289755           0.196122
46  0.713161  0.045496           0.241343
47  0.403420  0.007185           0.589395
48  0.443752  0.219397           0.336850
49  0.780015  0.020141           0.199844
50  0.773341  0.022636           0.204022
51  0.615109  0.125919           0.258972
52  0.682357  0.016860           0.300783
53  0.651602  0.009778           0.338620
54  0.628424  0.108073           0.263502
55  0.681806  0.006900           0.311294
56  0.723442  0.018034           0.258524
57  0.515369  0.059888           0.424744
58  0.513965  0.070272           0.415763
59  0.799389  0.008537           0.192074
60  0.734159  0.013482           0.252360

In [23]:
#export
principia.to_csv('../output/random/principia_weights.csv')
t.to_csv('../output/random/topic_weights_1689.csv')